{% extends 'templates/2-column.html' %}

{% block leftcontent %}
<div class="well">
 <h1>Upcoming</h1>
 <div id="myCarousel" class="carousel upcoming well">
  <!-- Carousel items -->
  <div id="carousel-inner" class="carousel-inner" ></div>
 </div>	
</div>
<div class="well">
	{% block content %}{% endblock %}
</div>
{% endblock %}

{% block rightcontent %}

<h1>Our Sponsors</h1>

<table width="100%" id="sponsorsColumnTable">
{% for sponsor in sponsorsList %}
	<tr><td>{{ sponsor.name }}</td></tr>
{% endfor %}
</table>

<script src="/assets/js/fb.js"></script>
{% endblock %}