{% extends 'templates/2-column.html' %}

{% block leftcontent %}
<div class="well">
	<h1>Upcoming</h1>
	<div id="myCarousel" class="carousel upcoming well">
	<!-- Carousel items -->
	<div id="carousel-inner" class="carousel-inner" >
		Loading
	<!-- <div class="active item">
		<h3>CSESoc Poker Night</h3>
		<img class="pull-left" src="https://graph.facebook.com/351244491594507/picture?type=large" />
			<h5>When</h5><span>2012-04-04T18:30:00</span>
			<h5>Where</h5><span>CSE Seminar Room, K17</span>
			<p>Poker night is back! Come join us in a night filled with cards, chips (poker and edible), boardgames...</p>
			<p class="pull-right"><a href="#" class="btn btn-primary">Attending</a>
				 <a href="#" class="btn">See more</a></p>
	</div>
	<div class="item">…</div>
	<div class="item">…</div> -->
	</div>
	</div>	
</div>
<div class="well">
	{% block content %}{% endblock %}
</div>
{% endblock %}

{% block rightcontent %}

<h1>Our Sponsors</h1>

<table width="100%" id="sponsorsColumnTable">
{% for sponsor in allSponsors %}
	<tr><td>{{ sponsor.get_linked_logo }}</td></tr>
{% endfor %}
</table>

{% endblock %}