{% extends "templates/main.html" %}
{% block allcontent %}
<div class="row">
        <div class="span9">
          <div class="well">
              <h1>Upcoming</h1>
              <div class="row-fluid">
                    <div class="span4">
                      <div class="thumbnail">
                        <img src="http://placehold.it/200x180" alt="">
                        <div class="caption">
                          <h5>Thumbnail label</h5>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="span4">
                      <div class="thumbnail">
                        <img src="http://placehold.it/200x180" alt="">
                        <div class="caption">
                          <h5>Thumbnail label</h5>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="span4">
                      <div class="thumbnail">
                        <img src="http://placehold.it/200x180" alt="">
                        <div class="caption">
                          <h5>Thumbnail label</h5>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                        </div>
                      </div>
                    </div>
              </div> 
          </div>
          <div class="well">
            {% block middlecontent %}{% endblock %}
          </div>
       </div>
        <div class="span3">
          {% block rightcontent %}{% endblock %}
        </div>
</div>
{% endblock %}

