{% extends 'templates/hsmain.html' %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}{% spaceless %}

<div id="desc" class="container well">
    <img style="width:100%;padding-bottom:20px" src="/assets/img/hs-splash.jpg"></img>
    <p>Started by the students of UNSW Computing, Computing Club is a chance for high school students to further explore computing and get a head start in the world of technology. Computing Club is a school without the formality and also a great chance to meet other students with the same passion, all while learning a great skill.</p>
    
    <p>At Computing Club, we offer a variety of modules that cater to all skill levels, so no one gets left out. At present, all our modules are <em>free</em>.</p>
    <center>
        <a class="btn btn-primary btn-large" href="#" id="interestedBtn">Tell me more</a>
    </center>
</div>

<div id='content' class="well"> 
	<ul>
   {% for c in courses %}
         <li>{{ c.title }}</li>
   {% endfor %}
</ul>

</div>

{% endspaceless %}{% endblock %}
{% block javascript %}
{% endblock %}

