{% extends 'templates/hsmain.html' %}

{% block titlecontent %}HS Courses{% endblock %}

{% block content %}{% spaceless %}

<div class="container">
	<div class="well">
		<h1>Thanks!</h1>
		<p>Thanks for registering. You should receive an email shortly at {{ email }} with more information. If you have any further questions please email <a href="mailto:csesoc.compclub@cse.unsw.edu.au">csesoc.compclub@cse.unsw.edu.au</a>.</p>
	</div>
</div>
{% endspaceless %}{% endblock %}
{% block javascript %}
{% endblock %}