body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar .brand {
	padding:5px 20px;
}

.brand img{
	height: 30px;
	padding: 0px;
}

.hero-unit {
	color: #f04923;
	padding:50px;
	background: #eee url('/assets/img/banner.png') top right no-repeat;
}

.upcoming {
	margin:10px 0 0 0;
	background:#e3e3e3;
	min-height:210px;

}

.upcoming h3 {
	margin:0 0 10px 0;
}

.upcoming img {
	width:130px;
	height:130px;
	margin:0 10px 0 0;
	background:#fff;	
	padding: 4px;
	line-height: 1;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.upcoming p {
	margin: 10px 0;
}

.navbar .nav > li > a.link-username {
	color:#0088cc;
}

.bottom-pad {
	margin-bottom: 75px;
}

footer {
	color:#999;
	height:32px;
	padding: 20px;
	line-height:32px;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	
}


.navbar .pull-right .dropdown-menu:before {
	left: auto;
	right: 12px;
}
.navbar .pull-right .dropdown-menu:after {
	left: auto;
	right: 13px;
}
@media (max-width: 979px) {
	.navbar .dropdown-menu.no-collapse {
		background-color: #ffffff;
		border-color: rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		display: none;
		float: left;
		margin: 0;
		padding: 4px 0;
		position: absolute;
		top: 100%;
	}
	.navbar .dropdown-menu.no-collapse:before,
	.navbar .dropdown-menu.no-collapse:after {
		display: block;
	}
	.navbar .dropdown-menu.no-collapse li + li a {
		margin-bottom: 0;
	}
	.navbar .dropdown-menu.no-collapse .divider {
		display: list-item;
	}
	.navbar .dropdown-menu.no-collapse a {
		border-radius: 0;
		color: #333333;
		font-weight: normal;
		padding: 3px 15px;
	}
	.navbar .dropdown-menu.no-collapse a:hover,
	.navbar .dropdown-menu.no-collapse .active a,
	.navbar .dropdown-menu.no-collapse .active a:hover {
		background-color: #0088cc;
		color: #ffffff;
	}
	.btn-group.open .dropdown-menu.no-collapse {
		display: block;
		margin-top: 1px;
		border-radius: 5px;
	}
}

