{% extends 'templates/2-column-w-sponsors.html' %}
{% block titlecontent %}My Account{% endblock %}
{% block stylesheets %}{% endblock %}
{% block content %}{% spaceless %}
	<h1>My Mailing List</h1>
	<div class="well">
		<form action="http://cgi.cse.unsw.edu.au/~csesoc/mailingLists" method="post">

			<input type="hidden" name="cseid" value="{{user.get_profile.cselogin}}"><br>
			<input type="checkbox" name="mailing" value="beta" checked />Beta<br>
			<input type="checkbox" name="mailing" value="tech" />Tech<br>
			<input type="checkbox" name="mailing" value="publicity" />Publicity<br>
			<input type="checkbox" name="mailing" value="social" />Social<br>
			<input type="checkbox" name="mailing" value="dev" />Dev<br>
						
			<input type="submit" value="Update">
		</form>
		
	</div>
{% endspaceless %}{% endblock %}