{% extends 'templates/1-column.html' %}
{% block titlecontent %}Our Sponsors{% endblock %}

{% block content %}
<h1>Our Sponsors</h1>
<table class="table table-bordered table-striped table-sponsors">
    <tbody>
{% for sponsor in sponsors %}
<tr>
    <td class="image"><a href="{{ sponsor.website }}">
    <img src="{{ sponsor.logo.url }}" width="150px" alt="{{ sponsor.name|safe }}"
        {% if sponsor.alt_text %} title="{{ sponsor.alt_text }}"
        {% else %} {{ sponsor.name }} title="{{ sponsor.name }}"
        {% endif %}/></a></td>
    <td><strong><a href="{{ sponsor.website }}" class="sponsorName">{{ sponsor.name }}</a></strong><br>{{ sponsor.description|safe }}</td>
</tr>

{% endfor %}
</tbody>
</table>

<table class="table table-bordered table-striped table-sponsors" style="
    /* width: 100px; */
    /* position: absolute; */
    height: 500px;
">
    <tbody>
<tr>
    <td class="image"><a href="http://www.taxiboxmobileselfstorage.com.au/melbourne/">
    <img src="/assets/media/sponsors/TAXIBOX_Logo_Melbourne.png" width="150px" alt="TAXIBOX" title="TAXIBOX"></a></td>
    <td><strong><a href="http://www.taxiboxmobileselfstorage.com.au/melbourne/" class="sponsorName">TAXIBOX</a></strong><br>TAXIBOX is the ideal way storage solution for CSESoc members as they offset the cheapest Sydney self-storage prices guaranteed. Their unique ‘mobile self storage’ model means that they deliver a storage unit (called a TAXIBOX) to your address, you place your items into this unit and its then picked up which is all included within the monthly price.</td>
</tr>


<tr>
    <td class="image"><a href="http://www.frankhealthinsurance.com.au/cheap-health-insurance">
    <img src="/assets/media/sponsors/frank-logo-x_copy.png" width="150px" alt="Frank Health Insurance" title="Frank Health Insurance"></a></td>
    <td><strong><a href="http://www.frankhealthinsurance.com.au/cheap-health-insurance" class="sponsorName">Frank Health Insurance</a></strong><br>Are you finishing your term when you are covered from your parents health insurance cover? Frank offers cheap health insurance options for singles, couples and families for hospitals or ‘hospitals &amp; extras’. View their no-frills options and make sure your covered!</td>
</tr>


<tr>
    <td class="image"><a href="http://www.drlanzer.com.au/liposuction/">
    <img src="/assets/media/sponsors/Dr_Lanzer_Liposuction_Logo.png" width="150px" alt="Dr Lanzer" title="Dr Lanzer"></a></td>
    <td><strong><a href="http://www.drlanzer.com.au/liposuction/" class="sponsorName">Dr Lanzer</a></strong><br>Dr Lanzer is Australia’s leading cosmetic surgeon offering a range of procedures from liposuction, face to the body. He has over 25+ years’ experience and is the pioneer in many fields.</td>
</tr>


<tr>
    <td class="image"><a href="http://www.bellcity.com.au/event/weddings/">
    <img src="/assets/media/sponsors/Bell_City_Weddings_Logo.png" width="150px" alt="Bell City" title="Bell City"></a></td>
    <td><strong><a href="http://www.bellcity.com.au/event/weddings/" class="sponsorName">Bell City</a></strong><br>Looking to visit Melbourne or hold an event there? Bell City is a leading accommodation destination with a range of student accommodation options, function rooms and even wedding function venues. The accommodation is located between the CBD and the airport so it’s convenient for short or long-term stays with car parking on-site!
</td>
</tr>


<tr>
    <td class="image"><a href="http://www.485visainsurance.com.au/485-visa-health-insurance/">
    <img src="/assets/media/sponsors/485_Visa_Health_Insurance_Logo.png" width="150px" alt="485 Visa Insurance" title="485 Visa Insurance"></a></td>
    <td><strong><a href="http://www.485visainsurance.com.au/485-visa-health-insurance/" class="sponsorName">485 Visa Insurance</a></strong><br>Overseas students who complete their studies at UNSW may be eligible to work in Australia on a 485 visa. A requirement for this visa is 485 visa health insurance (which is different from OSHC). 485 Visa Insurance helps compare the key health funds and other services a 485 visa applicant may need.</td>
</tr>


</tbody>
</table>

{% endblock %}

