{% extends 'templates/1-column.html' %}
{% block titlecontent %}Our Sponsors{% endblock %}

{% block content %}
<h1>Our Sponsors</h1>
<br/>
<table class="table table-bordered">
    <tbody>
{% for sponsor in sponsors %}
<tr>
    <td rowspan="2"><a href="{{ sponsor.website }}"><img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name|safe }}"/></a></td>
    <td><a href="{{ sponsor.website }}" class="sponsorName">{{ sponsor.name }}</a></td></tr><tr><td>{{ sponsor.description|safe }}</td>
</tr>

{% endfor %}
</tbody>
</table>

{% endblock %}

