{% extends 'templates/1-column.html' %}
{% block titlecontent %}Our Sponsors{% endblock %}

{% block content %}
<h1>Our Sponsors</h1>
<br/>
<table id="sponsor-table">
{% for sponsor in sponsors %}
<tr>
    <td width="30%" class="sponsor-table-image"><a href="{{ sponsor.website }}"><img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name|safe }}"/></a></td>
    <td width="70%" class="sponsor-table-description"><a href="{{ sponsor.website }}" class="sponsorName">{{ sponsor.name }}</a><br />{{ sponsor.description|safe }}</td>
</tr>

{% endfor %}
</table>

{% endblock %}

